
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandMedium.ttf"); font-family : "Quicksand"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/QuicksandRegular.ttf"); font-family : "Quicksand"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandBold.ttf"); font-family : "Quicksand"; font-weight : 700;  }